<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>短信渠道管理</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/common-font.css}">
    <link rel="stylesheet" th:href="@{/css/common-button.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/sendChannel.js}"></script>
</head>

<body onload="load()">
<div class="x-body">

    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" th:action="@{/student/allStu}">
            <div class="layui-input-inline">
                <select id="status" name="status">
                    <option th:selected="${stu.getStatus()==null}" th:value="null">分数达标</option>
                    <option th:selected="${stu.getStatus()==true}" th:value="true">及格</option>
                    <option th:selected="${stu.getStatus()==false}" th:value="false">不及格</option>
                </select>
            </div>
            <input type="text" id="stuName" name="stuName" placeholder="请输入学生姓名"
                   autocomplete="off" class="layui-input" th:value="${stu.getStuName()}"
                   lay-verify="checkLength50" maxlength="50">
            <button class="layui-btn"  lay-submit="" lay-filter="query"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>

    <xblock>
        <button class="layui-btn" onclick="popups('添加短信渠道','/student/editPage',699,499)">
            <i class="layui-icon"></i>添加</button>
    </xblock>

    <table class="layui-table table-content">
        <thead>
        <tr>
            <th class="table-content" style="width: 50px;">编号</th>
            <th class="table-content" style="width: 100px;">姓名</th>
            <th class="table-content" style="width: 130px;">年级</th>
            <th class="table-content" style="width: 100px;">班级</th>
            <th class="table-content" style="width: 150px;">科目</th>
            <th class="table-content" style="width: 75px;">分数</th>
            <th class="table-content" style="width: 75px;">是否及格</th>
            <th class="table-content" style="width: 165px;">更新时间</th>
            <th class="table-content" style="width: 110px;">操作</th>
        </thead>
        <tbody>
        <tr th:each="list : ${stulist}">
            <td th:text="${list.getId()}"></td>
            <td th:text="${list.getName()}"></td>
            <td th:text="${list.getStuGrade()}"></td>
            <td th:text="${list.getStuClass()}"></td>
            <td th:text="${list.getCourse()}"></td>
            <td th:text="${list.getScore()}"></td>
            <td class="td-status">
                <span style="cursor: not-allowed;" th:class="${list.isStatus()} ?
                'layui-btn layui-btn-normal layui-btn-mini' :
                'layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled'"
                      th:text="${list.isStatus()} ? '及格' : '不及格'">
                </span>
            </td>
            <td th:text="${list.getUpdateTime()}"></td>
            <td>
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                th:onclick="'javascript:popups(\'编辑\',\'/student/editPage?id='+${list.getId()}+'\',699,499)'">
                            <span class="am-icon-pencil-square-o"></span> 编辑</button>
                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                th:onclick="'javascript:del(this,'+${list.getId()}+')'" >
                            <span class="am-icon-trash-o"></span> 删除</button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="page">
        <a class="prev" href="javascript:void(0)" onclick="page(1)">首页</a>
        <span th:switch="${page.getNum()}">
            <a th:case="1" href="javascript:void(0)" class="num" onclick="page(1)">上一页</a>
            <a th:case="*" href="javascript:void(0)" class="num" th:onclick="'javascript:page('+${page.getNum() - 1}+');'">上一页</a>
        </span>
        <span th:switch="${page.getNum()}">
            <a th:case="${page.getPages()}" href="javascript:void(0)" class="num" th:onclick="'javascript:page('+${page.getPages()}+');'">下一页</a>
            <a th:case="*" href="javascript:void(0)" class="num" th:onclick="'javascript:page('+${page.getNum() + 1}+');'">下一页</a>
        </span>
        <a class="next" href="javascript:void(0)" th:onclick="'javascript:page('+${page.getPages()}+');'">尾页</a>
        <a class="next" href="javascript:void(0)" style="cursor:default" th:text="'第'+${page.getNum()}+'/'+${page.getPages() == 0 ? 1 : page.getPages()}+'页，共有数据'+${page.getTotal()}+'条'"></a>
    </div>

</div>
</body>

</html>