<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>短信渠道管理</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/common-font.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/sendChannel.js}"></script>
</head>

<body>
<div class="x-body">
    <form class="layui-form">

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                姓名：
            </label>
            <div class="layui-input-inline">
                <input style="width: 500px;" type="text" id="name" name="name"
                       lay-verify="required|checkLength50" autocomplete="off" class="layui-input" maxlength="50"
                       th:value="${stu == null ? '' : stu.getName()}">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="stuGrade" class="layui-form-label">
                年级：
            </label>
            <div class="layui-inline">
                <select id="stuGrade" name="stuGrade" lay-verify="stuGrade">
                    <option th:value="0"
                            th:selected="${stu.getStuGrade() == null}">选择班级
                    </option>
                    <option th:value="1"
                            th:selected="${stu.getStuGrade() == '1'}">一年级
                    </option>
                    <option th:value="2"
                            th:selected="${stu.getStuGrade() == '2'}">二年级
                    </option>
                    <option th:value="3"
                            th:selected="${stu.getStuGrade() == '3'}">三年级
                    </option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="stuClass" class="layui-form-label">
                班级：
            </label>
            <div class="layui-inline">
                <select id="stuClass" name="stuClass" lay-verify="stuClass">
                    <option th:value="0"
                            th:selected="${stu.getStuClass() == null}">请选择班级
                    </option>
                    <option th:value="1"
                            th:selected="${stu.getStuClass() == '1'}">一班
                    </option>
                    <option th:value="2"
                            th:selected="${stu.getStuClass() == '2'}">二班
                    </option>
                    <option th:value="3"
                            th:selected="${stu.getStuClass() == '3'}">三班
                    </option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="course" class="layui-form-label">
                科目：
            </label>
            <div class="layui-inline">
                <select id="course" name="course" lay-verify="course">
                    <option th:value="null"
                            th:selected="${stu.getCourse()==''|| stu.getCourse() == null}"></option>
                    <option th:value="eng"
                            th:selected="${stu.getCourse() == 'eng'}">英语
                    </option>
                    <option th:value="math"
                            th:selected="${stu.getCourse() == 'math'}">数学
                    </option>
                    <option th:value="pe"
                            th:selected="${stu.getCourse() == 'pe'}">体育
                    </option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="score" class="layui-form-label">
                分数：
            </label>
            <div class="layui-input-inline">
                <input style="width: 500px;" type="text" id="score" name="score"
                       lay-verify="required|checkLength50" autocomplete="off" class="layui-input" maxlength="50"
                       th:value="${stu == null ? '' : stu.getScore()}">
            </div>
        </div>

        <div class="layui-form-item">
            <button class="layui-btn" lay-submit=""
                    th:lay-filter="${stu == null ? 'add' : 'update'}"
                    th:text="${stu == null ? '添加' : '更新'}">
            </button>
        </div>

        <input type="hidden" name="id" th:value="${stu == null ? '' : stu.getId()}">

    </form>
</div>
</body>

</html>